<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | Meal App</title>

    <script src="https://kit.fontawesome.com/8aa41c6014.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <nav-app brandName="<%= brandName %>"></nav-app>
    </header>

    <main>
      <div id="preloader-wrapper">
        <loading-spinner></loading-spinner>
      </div>
      <div class="title">
        <div class="icon">
          <i class="fa-solid fa-bowl-food"></i>
          <i class="fa-solid fa-cookie"></i>
          <i class="fa-solid fa-bowl-rice"></i>
        </div>
        <p>mealapp API website</p>
        <h1>See All The Delicious Foods</h1>
      </div>
      <div class="card-category-container">
        <div class="card-category-record"></div>
      </div>
    </main>

    <footer></footer>
  </body>
</html>
