<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | Meal App</title>

    <script src="https://kit.fontawesome.com/8aa41c6014.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <nav-app brandName="<%= brandName %>"></nav-app>
    </header>

    <main>
      <div class="heading-container">
        <div class="heading"></div>
      </div>
      <div class="detail-meal-container"></div>
    </main>

    <footer></footer>
  </body>
</html>
